.iconButton {
    border: none;
    height: 32px;
    
    & span {
        font-size: 14pt;
    }

    &:hover {
        cursor: pointer;
    }

    & * {
        &:hover {
            cursor: pointer;
        }
    }
}

.iconOnly {
    padding: 4px;
}

button.outlined {
    border: 2px solid;
}