.title {
    padding-top: 4px;
    h2 {
        text-align: center;
    }
}

.titleHr {
    & hr {
        margin: 8px 5% 16px 5%;
    }
}

.date {
    text-align: center;
}

.external {
    padding: 1px;
}