.title {
    padding-top: 4px;

    h4 {
        text-align: center;
        padding: 0 70px;
    }
}

.titleHr {
    & hr {
        margin: 8px 5% 16px 5%;
    }
}

.date {
    text-align: center;
}

.external {
    position: absolute;
    margin-top: 2px;
    margin-left: 8px;
    padding: 1px !important;
    & * span {
        font-size: 16pt !important;
    }
    // margin-left: 8px;
    // padding: 1px;
}