@import 'src/theme/variables.scss';

.body {
    height: calc(100% - $bufferHeight - 15px);
    
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.description {
    padding-bottom: 12px;

    word-wrap: break-word; /* IE>=5.5 */
    white-space: pre; /* IE>=6 */
    white-space: -moz-pre-wrap; /* For Fx<=2 */
    white-space: pre-wrap; /* Fx>3, Opera>8, Safari>3*/

    max-width: 100%;
}