.switch {
    display: flex;
        align-items: center;
    position: relative;

    width: 50px;
    aspect-ratio: 2;

    margin: 2px 4px;
    padding: 3px;

    border: 2px solid;
    border-radius: 8px;

    &:hover {
        cursor: pointer;
    }
}

.indicator {
    width: 50%;
    height: 100%;

    margin-left: 0;

    border-radius: 4px;
    
    animation: to-off-position 0.35s;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
}

.on {
    animation: to-on-position 0.35s;
    margin-left: 50%;
}

@keyframes to-on-position {
    from { margin-left: 0; }
    to { margin-left: 50%; }
}

@keyframes to-off-position {
    from { margin-left: 50%; }
    to { margin-left: 0; }
}
