.music {
    height: 100%;
}

.intro {
    & * h2, & * hr {
        margin: 0;
    }

    & * {
        text-align: center;
    }
}

.albums {
    height: calc(100% - 50px);
    overflow-y: scroll;
    scroll-behavior: smooth;
}

.disclaimer {
    height: 40px;
    overflow-y: scroll;
}

@media only screen and (max-width: 575px) {
    .disclaimer {
        height: 26px;
    }
} 
