.home {
    width: 100%;
}

.intro {
    text-align: center;

    & hr {
        margin: 8px 7.5% 8px 7.5%;
    }
}

.posts {
    height: calc(100% - 72px);

    padding: 0 3.5%;

    overflow-y: scroll;
    scroll-behavior: smooth;
}
