.home {
    width: 100%;
}

.intro {
    text-align: center;

    & hr {
        margin-left: 7.5%;
        margin-right: 7.5%;
    }
}

.posts {
    height: 100%;
    overflow-y: scroll;
    padding: 0 3.5%;
}
