@import 'src/theme/variables';

$bufferHeight: calc($headerHeight + ($headerYPadding * 2));

.headerBuffer {
    display: block;
    position: relative;

    height: $bufferHeight;
    width: 100vw;    
}

.contentOuter {
    padding: 15px;

    height: fit-content;

    background-color: rgba(0, 0, 0, 0);;
    background-image: none;
}

.appBackground {
    position: fixed;
    top: $bufferHeight;
    left: 0;
    width: 100vw;
    height: calc(100vh - $bufferHeight);

    opacity: 0.4;

    background-image: url("https://s13.gifyu.com/images/b2bMf.jpg");
    background-attachment: fixed;
    background-size: 100vw calc(100vh - $bufferHeight);
    background-repeat: no-repeat;
    background-position-y: top $bufferHeight;
}
