@import 'src/theme/variables';

.headerBuffer {
    display: block;
    position: relative;

    height: $bufferHeight;
    width: 100vw;    
}

.contentOuter {
    padding: $pageContentPadding;

    height: calc(100vh - $bufferHeight - ($pageContentPadding * 2));

    background-color: rgba(0, 0, 0, 0);;
    background-image: none;
    
    overflow-y: clip;
}

.appBackground {
    position: fixed;
    top: $bufferHeight;
    left: 0;
    width: 100vw;
    height: calc(100vh - $bufferHeight);

    opacity: 0.4;

    background-image: url("https://s13.gifyu.com/images/b2bMf.jpg");
    background-attachment: fixed;
    background-size: 100vw calc(100vh - $bufferHeight - ($pageContentPadding * 2));
    background-repeat: no-repeat;
    background-position-y: top $bufferHeight;

    z-index: -1;
}
