@import 'src/theme/variables';

.headerBuffer {
    display: block;
    position: relative;

    height: $bufferHeight;
    width: 100vw;

    background-color: var(--primary-color);
}

.contentOuter {
    padding: calc($pageContentPadding / 2) $pageContentPadding 0 $pageContentPadding;

    height: calc(100vh - $bufferHeight);

    background-color: rgba(0, 0, 0, 0);;
    background-image: none;
    
    overflow-y: clip;
}

.appBackground, .appBackgroundColor {
    position: fixed;
    top: $bufferHeight;
    left: 0;
    width: 100vw;
    height: calc(100vh - $bufferHeight);
}

.appBackground {
    opacity: var(--background-opacity);

    background-image: var(--background);
    background-attachment: fixed;
    background-size: var(--background-size);
    background-repeat: no-repeat;
    background-position-y: top $bufferHeight;
    filter: var(--background-filter);

    z-index: -1;
}

.appBackgroundColor {
    background-color: var(--background-color);
    z-index: -2;
}
