/* THEME */
p, h1, h2, h3, h4, h5, h6 {
  color: var(--text-color);
}

hr {
  border-color: var(--text-color);
}

.detail-text {
  color: var(--detail-text-color)
}

.font-primary {
  color: var(--primary-color);
}
.font-secondary {
  color: var(--secondary-color);
}


.fill-primary {
    background-color: var(--primary-color);
}
.fill-secondary {
    background-color: var(--secondary-color);
}


.border-primary {
    border-color: var(--primary-color);
}
.border-secondary {
    border-color: var(--secondary-color);
}


.fill-on-hover-primary {
  animation: fill-primary-to-secondary 0.35s;
  animation-fill-mode: forwards;

  &:hover {
    animation: fill-secondary-to-primary 0.35s;
    animation-fill-mode: forwards;

    * {
      animation: fill-secondary-to-primary 0.35s;
      animation-fill-mode: forwards;
    }
  }
}

@keyframes fill-secondary-to-primary {
  from { 
    background-color: var(--secondary-color); 
    color: var(--primary-color);
  }
  to { 
    background-color: var(--primary-color); 
    color: var(--secondary-color);
  }
}

.fill-on-hover-secondary {
  animation: fill-secondary-to-primary 0.35s;
  animation-fill-mode: forwards;
    
  &:hover {
    animation: fill-primary-to-secondary 0.35s;
    animation-fill-mode: forwards;

    * {
      animation: fill-primary-to-secondary 0.35s;
      animation-fill-mode: forwards;
    }
  }
  
}

@keyframes fill-primary-to-secondary {
  from { 
    background-color: var(--primary-color); 
    color: var(--secondary-color);
  }
  to { 
    background-color: var(--secondary-color); 
    color: var(--primary-color);
  }
}
