@import 'src/theme/variables.scss';

.header {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    height: $headerHeight;
    width: 100vw;

    padding: $headerYPadding $headerXPadding;

    background-image: linear-gradient(to bottom right,darkorchid,slateblue,slateblue,slateblue,slateblue,slateblue,slateblue,darkorchid);
    
    color: white;

    border-bottom-right-radius: 8px;
    box-shadow: 1px 1px 5px black;
    
    z-index: 10;

    * {
        color: white;
    }

    h1 {
        font-size: 16pt;
        vertical-align: bottom;

        &:global {
            animation: fade-in-from-right 1s;
        }

        & .business {
            font-size: 14pt;
        }
    }

    h5 {
        padding-left: 2px;
        font-size: 9pt;
        font-style: italic;
        font-weight: normal;
        opacity: 0;
        
        &:global {
            animation: fade-in-from-right 1s;
            animation-delay: 0.5s;
            animation-fill-mode: both;
        }
    }

    .navigation, .other {
        opacity: 0;

        &:global {
            animation: fade-in-from-right 1s;
            animation-delay: 1s;
            animation-fill-mode: both;
        }
    }
}
