.photo {
    max-height: 35vh;
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 16px;
    box-shadow: 2px 2px 5px grey;
}

.pdf {
    height: 45vh;
    width: 30vw;
    min-width: 400px;
    box-shadow: 2px 2px 5px grey;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin-bottom: 16px;
}

embed.pdfWithAudio {
    margin-bottom: -6px;
}

.pdfAudio {
    width: 30vw;
    min-width: 400px;
}

.carouselAudio {
    width: 35vw;
    min-width: 400px;
}
