.navigation {
    opacity: 0;
    max-width: 85vw;
    overflow-x: scroll;

    &:global {
        animation: fade-in-from-right 1s;
        animation-delay: 1s;
        animation-fill-mode: both;
    }
}
