.searchBar {
    text-align: right;
    vertical-align: middle;
    padding-left: 28px;
}

.searchIcon {
    position: absolute;
    
    color: var(--primary-color);

    margin-top: 4px;
    margin-left: 6px;
    font-size: 22px;
}