@import './theme/theme.scss';
@import './icons.scss';

/* TAGS */
a {
  color: var(--link-color);
}

button {
  border: 2px solid;
  border-radius: 6px;
  font-size: 10pt;
  padding: 2px 5px;

  &:hover {
    cursor: pointer;
  }
}

body {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

input {
  border-radius: 8px;
  padding: 2px 6px;
  border-style: solid;

  &:focus {
    outline: none;
  }
}

main {
  display: block;
  position: relative;
  
  height: 100vh;
}

pre {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;

  background-color: #2b2937;
  color: white;

  padding: 12px;
  margin: 0 12px;
  
  border-radius: 8px;
  line-height: 1;

  & code {
    font-size: 12px !important;
  }
}

/* GLOBAL CLASSES */
.cursor-default {
  cursor: default;
}

.bold {
  font-weight: bold;
}

.italic {
  font-style: italic;
}

.no-select {
   user-select: none;
   -o-user-select:none;
   -moz-user-select: none;
   -khtml-user-select: none;
   -webkit-user-select: none;
}

.reverse-image {
  transform: scaleX(-1);
}

.underline {
  text-decoration: underline;
}

.no-underline {
  text-decoration: none;
}

.width-fit-content {
  width: fit-content;
}

/* ANIMATIONS */
/* Specify these class name IN ANIMATION_CLASSES constant */
@keyframes fade-in-from-right {
  from {
    opacity: 0;
    margin-left: -15px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}

.fade-in-from-right {
  opacity: 0;

  & {
      animation: fade-in-from-right 0.5s;
      animation-fill-mode: forwards;
  }
}

@keyframes shake {
  0%, 100% { transform: rotate(0deg) }
  32% { transform: rotate(16deg) }
  43% { transform: rotate(-14deg)}
  53% { transform: rotate(12deg) }
  62% { transform: rotate(-10deg) }
  70% { transform: rotate(8deg) }
  77% { transform: rotate(-6deg) }
  83% { transform: rotate(4deg) }
  88% { transform: rotate(-2deg) }
  92% { transform: rotate(2deg) }
  95% { transform: rotate(1deg) }
  97% { transform: rotate(-1deg) }
  98% { transform: rotate(0.5deg) }
}

.shake-on-hover {
  &:hover {
    animation: shake 1.25s;
  }
}
