@import './theme/theme.scss';

/* GLOBAL */
button {
  border: 2px solid;
  border-radius: 6px;
  font-size: 10pt;
  padding: 2px 5px;

  &:hover {
    cursor: pointer;
  }
}

body {
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

main {
  display: block;
  position: relative;
  
  height: 100vh;
}

/* ANIMATIONS */
@keyframes fade-in-from-right {
  from {
    opacity: 0;
    margin-left: -15px;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
