.iframe {
    border-radius: 8px;
    box-shadow: 2px 2px 5px grey;
    margin-bottom: 8px;
}

.youtube {
    width: 35vw;
    min-width: 400px;
    aspect-ratio: 1.7778;
}

.bandcamp {
    height: 300px;
}
